@model IEnumerable<industry4._0.Models.FeedbackPost>

@{
    ViewData["Title"] = "Index";
}

@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("Admin"))
    {
        <div class="container-fluid p-1" style="margin-bottom:35%;">
            <p>
                <a asp-action="Create">Create New</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Username)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.HEading)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StarRating)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Feedback)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Agree)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Disagree)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CompanyOrganisationName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.canIncreaseAgree)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.canIncreaseDisagree)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Username)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HEading)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StarRating)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Feedback)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Agree)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Disagree)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CompanyOrganisationName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.canIncreaseAgree)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.canIncreaseDisagree)
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div style="margin:20%;">
            <h3 style="text-align:center">Access Denied!</h3>
        </div>
    }
}
@if (!User.Identity.IsAuthenticated)
{
    <div style="margin:20%;">
        <h3 style="text-align:center">Access Denied!</h3>
    </div>
}